/* MainContent.css */
h2 {
  margin-bottom: 20px;
  color: #ffa500;
}

.tutorial-list {
  display: flex;
  gap: 15px;
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  padding: 10px;
  scroll-behavior: smooth; /* Desplazamiento suave */
}

.tutorial-list::-webkit-scrollbar {
  height: 8px; /* Tamaño de la barra de desplazamiento */
}

.tutorial-list::-webkit-scrollbar-thumb {
  background-color: #ffa500; /* Color del "pulgar" de la barra */
  border-radius: 4px;
}

.tutorial-list::-webkit-scrollbar-track {
  background: #292b2f; /* Color del fondo de la barra */
}

.main-content {
    display: flex;
    padding: 0; /* Remueve padding de main-content */
    height: 100vh; /* Ocupa toda la altura del viewport */
    width: 100vw; /* Ocupa toda la anchura del viewport */
    background-image: url('/public/ImageFondoGuitarra.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
  }
  
  .left-section {
    flex: 1;
    padding: 4rem; /* Controla el padding interno */
    text-align: center;
    justify-content: center; /* Centra el contenido verticalmente */
    align-content: center;
  }

  h1 {
    margin-bottom: 2rem;
  }
  
  .register-button, .materials-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
  }
  
  .register-button {
    background-color: #ff6600;
  }
  
  .materials-button {
    background-color: black;
    color: white;
  }
  
  .right-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .video-placeholder {
    width: 80%;
    height: auto;
    max-width: 500px; /* Tamaño máximo para la imagen o video */
    border-radius: 8px;
  }
  